<div *ngIf="attribute">
    <h2><span>Attribute</span> {{attribute.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Value</span></dt>
        <dd>
            <span>{{attribute.value}}</span>
        </dd>
        <dt><span>Document</span></dt>
        <dd>
            <div *ngIf="attribute.document">
                <a [routerLink]="['/document', attribute.document?.id]">{{attribute.document?.url}}</a>
            </div>
        </dd>
        <dt><span>Selector</span></dt>
        <dd>
            <div *ngIf="attribute.selector">
                <a [routerLink]="['/selector', attribute.selector?.id]">{{attribute.selector?.name}}</a>
            </div>
        </dd>
        <dt><span>Relatives</span></dt>
        <dd>
            <span *ngFor="let relatives of attribute.relatives; let last = last">
                <a [routerLink]="['/attribute', relatives?.id ]">{{relatives.value}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'attribute/'+ attribute.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
